* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper {
  height: 100vh;
  overflow-x: hidden; /*Width ki side jo image ja rhi hai usse hidden kr dega*/
  overflow-y: auto;
  perspective: 10px; /* our image and element distance*/
}
.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d; /* 3d effect hate nhi isliye ye dena padta hai*/
  z-index: -1;
}
.background {
  transform: translateZ(-40px) scale(5);
}
.foreground {
  transform: translateZ(-20px) scale(3);
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
h1 {
  font-size: 10rem;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  letter-spacing: 2px;
  position: absolute;
  top: 130px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
section {
  background-color: rgb(45, 37, 37);
  color: white;
  padding: 5rem 0;
}
.bg1 {
  background-image: url(sport-1.jpg);
}
.bg2 {
  background-image: url(sport-2.jpg);
}
.bg3 {
  background-image: url(sport-3.jpg);
}
.secHading {
  font-size: 5rem;
  padding: 0 10rem;
}
.text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem 0;
}
.bg {
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.desc {
  position: absolute;
  background-color: white;
  padding: 0.5rem 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
}

